.logoText {
	font-size: 3em;
	font-family: "Yellowtail", sans-serif;
	color: #fff;
	text-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #5271ff,
		0 0 82px #5271ff,
		0 0 92px #5271ff,
		0 0 102px #5271ff,
		0 0 151px #5271ff;
}

.logoTextSmall {
	font-size: 2em;
	font-family: "Yellowtail", sans-serif;
	color: #fff;
	text-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #5271ff,
		0 0 82px #5271ff,
		0 0 92px #5271ff,
		0 0 102px #5271ff,
		0 0 151px #5271ff;
}

.container :global(.card) {
	background-color:black;
	font-size: 20px;
}