html {
	font-size:14px;
}
body{
	background-size:100%;
	background-attachment: fixed;
	overflow-x:hidden;
	overflow-y:auto;
}

body.player-open {
	overflow-x:hidden;
	overflow-y:hidden;
}

.card {
	--bs-card-bg: rgba(27, 27, 27,.95);
}

.modal-backdrop {
	--bs-backdrop-opacity: 0.9 !important;
}

.marquee-wrap {
	position:fixed;
	bottom:0;
	overflow:hidden;
	width:100%;
}

.marquee-container {
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:black;
}

.no-wrap{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}