.player .icon,
.player .iconEnabled{
	font-size:22px;
}

.player .icon {
	color:grey;
}
.player .iconEnabled {
	color: white;
}

.player.enabled .iconEnabled:hover{
	color:lightblue;
	cursor:pointer;
}

.controls {
	display: grid;
	padding:6px;
	border-radius:3px;
	grid-template-columns: [first] 35px [line2] 35px [line3] auto [end];
}

.controlsLine2 {
	display: grid;
	grid-template-columns: [first] 33% [line2] auto [col3-start] 33% [end];
}
