.player .icon{
	color:white;
	font-size:22px;
}

.player.enabled .icon:hover{
	color:lightblue;
	cursor:pointer;
}

.controls {
	display: grid;
	padding:6px;
	border-radius:3px;
	grid-template-columns: [first] 35px [line2] 35px [line3] 50px [line4] auto [col4-start] 35px [five] 75px [end];
}
